<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container">
    <div class="row mt-4 ms-5">
        <div class="col-md-6 ">
            <img src="{{b.product_image.url}}" height="400px" width="90%" style="border-radius:10px;">
        </div>
        <div class="col-md-6">
            <h3 class="fw-bold">{{b.product_name}}</h3>
            <p><i>{{b.price}}</i></p>
            <p><i>{{b.year_reg}}</i></p>
            <p>{{b.product_desc}}</p>
            <a href="{% url 'olxapp:edit' b.id %}" class="btn btn-info">UPDATE</a>
            <a  class="btn btn-danger" href="{% url 'olxapp:delete' b.id %}">DELETE</a>
        </div>
    </div>
</div>
{% endblock %}